<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Задача 4</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <!-- “Рахунок у банку”
Вимоги:
1) Спочатку сума дорівнює 0грн. Змінити суму у гривнях можна або зарахуванням на рахунок, або зняттям.
2) Сума автоматично переводиться у долари та євро (фіксований курс задається у data).
3) можливість зарахувати суму (контролювати, щоб не була від’ємною)
4) можливість зняти (щоб не можна зняти більше ніж є на рахунку)
5) при виконанні зняття і зарахування коштів вираховувати 3% від суми (відображати кількість відсотків автоматично)

При зміні суми :
- якщо було зняття, то суму відоражати червоним
- якщо було зарахування, то суму відображати зеленим
Якщо сума валюти менша за 100 то відображати червоним кольором, інакше - зеленим
 -->

    <div id="app">
      <div>
        Сума на рахунку:
        <span :style="colorOfBalanceUAH">{{balanceUAH}} грн</span>
      </div>
      <hr />
      <label
        >Зарахувати на рахунок:
        <input type="number" v-model="addingAmount" /><button @click="add">
          Зарахувати
        </button></label
      >
      <hr />
      <label
        >Зняти з рахунку:
        <input type="number" v-model="withdrawingAmount" /><button
          @click="withdraw"
        >
          Зняти
        </button></label
      >
      <hr />
      <div>
        Відсотки за обслуговування: <span>{{serviceCommission}}</span> грн
      </div>
      <hr />
      <hr />
      <div>
        Сума у доларах
        <span :style="colorOfBalanceUSD">{{convertedToUSD}} $</span>
      </div>
      <hr />
      <div>
        Сума у євро <span :style="colorOfBalanceEUR">{{convertedToEUR}} Є</span>
      </div>
    </div>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            balanceUAH: 0,
            balanceUSD: 0,
            balanceEUR: 0,
            addingAmount: 0,
            withdrawingAmount: 0,
            rateUSD: 44,
            rateEUR: 45,
            serviceCommission: 0,
            colorOfBalanceUAH: "color: black",
            colorOfBalanceUSD: "color: red",
            colorOfBalanceEUR: "color: red",
            commissionRate: 0.03
          };
        },
        methods: {
          add() {
            this.balanceUAH += parseFloat(
              (this.addingAmount * (1 - this.commissionRate)).toFixed(2)
            );
            this.serviceCommission = parseFloat(
              (this.addingAmount * this.commissionRate).toFixed(2)
            );
            this.colorOfBalanceUAH = "color: green";
          },
          withdraw() {
            if (this.withdrawingAmount <= this.balanceUAH) {
              this.balanceUAH -= parseFloat(
                (this.withdrawingAmount * (1 + this.commissionRate)).toFixed(2)
              );
              this.serviceCommission = parseFloat(
                (this.withdrawingAmount * this.commissionRate).toFixed(2)
              );
              this.colorOfBalanceUAH = "color: red";
            }
          }
        },
        computed: {
          convertedToUSD() {
            this.balanceUSD = parseFloat(
              (this.balanceUAH / this.rateUSD).toFixed(2)
            );
            if (this.balanceUSD >= 100) this.colorOfBalanceUSD = "color: green";
            else this.colorOfBalanceUSD = "color: red";
            return this.balanceUSD;
          },
          convertedToEUR() {
            this.balanceEUR = parseFloat(
              (this.balanceUAH / this.rateEUR).toFixed(2)
            );
            if (this.balanceEUR >= 100) this.colorOfBalanceEUR = "color: green";
            else this.colorOfBalanceEUR = "color: red";
            return this.balanceEUR;
          }
        }
      }).mount("#app");
    </script>
  </body>
</html>
