<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Задача 5</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <!-- Додаток містить масив об’єктів (логін, пароль) --  інсуючі логіни і паролі. Користувач вводить логін і пароль, а програма повідомляє чи може користувач бути авторизованим (чи є він одним з масиву).
 -->

    <div id="app">
      <label>Login: <input type="text" v-model="enteredLogin" /></label>
      <hr />
      <label
        >Password: <input type="password" v-model="enteredPassword"
      /></label>
      <hr />
      <button @click="enter">Go!</button>
      <hr />
      <div>{{result}}</div>
    </div>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            enteredLogin: "",
            enteredPassword: "",
            result: "",
            credentialsArr: [
              { login: "user1", password: "password123" },
              { login: "admin123", password: "securePass456" },
              { login: "guest99", password: "letMeIn789" },
              { login: "alphaUser", password: "alpha987" },
              { login: "betaTester", password: "beta654" },
              { login: "charlieX", password: "charlie321" },
              { login: "deltaForce", password: "delta789" },
              { login: "echoBravo", password: "echo123" },
              { login: "foxTrot", password: "fox999" },
              { login: "gammaRay", password: "gamma555" }
            ]
          };
        },
        methods: {
          enter() {
            let userCredentials = {
              login: this.enteredLogin,
              password: this.enteredPassword
            };
            for (let i = 0; i < this.credentialsArr.length; i++) {
              if (
                this.credentialsArr[i].login === userCredentials.login &&
                this.credentialsArr[i].password === userCredentials.password
              ) {
                this.result = "Ви успішно увійшли!";
                break;
              }
              this.result = "Логін і/або пароль введені невірно!";
            }
          }
        }
      }).mount("#app");
    </script>
  </body>
</html>
