<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Задача 2</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <!-- З випадаючого списку вибираємо клас квитка у літаку. Якщо 
1) бізнес -  виводимо елементи для вибору газети та коньяку (якщо вибрано коньяк, то запропонувати закуску (так/ні)), на фоні зображення бізнес кают 
2) економ – виводимо елементи для вибору типу пива і чипсів, на фоні хмарки.
 -->
  <body>
    <style></style>
    <div id="app">
      <h1>Оберіть клас квитка на літак</h1>
      <select v-model="classOfTicket">
        <option value="business">Бізнес-клас</option>
        <option value="econom">Економ-клас</option>
      </select>
      <hr />
      <template v-if="isBusinessClass">
        <h2>Оберіть газету</h2>
        <select>
          <option value="guardian">Guardian</option>
          <option value="newYorkTimes">New-York Times</option>
          <option value="wallStreetJournal">Wall Street Journal</option>
          <option value="reuters">Reuters</option>
        </select>
        <hr />
        <h2>Оберіть коньяк</h2>
        <select v-model="chosenCognac">
          <option value="ballantine's">Ballantine's</option>
          <option value="chivasBrothers">Chivas Brothers</option>
          <option value="dewars">Dewars</option>
          <option value="theGlenlivet">The Glenlivet</option>
        </select>
        <template v-if="isCognacChosen">
          <hr />
          <h2>Чи не бажаєте закуску до коньяку?</h2>
          <label> <input type="radio" name="snack" value="Yes" /> Так </label>
          <label> <input type="radio" name="snack" value="No" /> Ні </label>
        </template>
        <hr />
        <img src="img/business-class.jpg" width="300px" />
      </template>
      <template v-if="isEconomClass">
        <h2>Оберіть пиво</h2>
        <select>
          <option value="estrella">Estrella</option>
          <option value="stellaArtois">Stella Artois</option>
          <option value="corona">Corona</option>
        </select>
        <hr />
        <h2>Оберіть чіпси</h2>
        <select>
          <option value="lays">Lays</option>
          <option value="pringls">Pringls</option>
          <option value="lux">Lux</option>
        </select>
        <hr />
        <img src="img/clouds.jpg" width="300px" />
      </template>
    </div>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            classOfTicket: null,
            chosenCognac: null
          };
        },
        methods: {},
        computed: {
          isCognacChosen() {
            return this.chosenCognac !== null;
          },
          isBusinessClass() {
            return this.classOfTicket === "business" ? true : false;
          },
          isEconomClass() {
            return this.classOfTicket === "econom" ? true : false;
          }
        }
      }).mount("#app");
    </script>
  </body>
</html>
